{% block content %}

<!--
"""
회원가입 테이블
business_id, MG_number, Store_name ,Store_phone
Store_address_01, Store_address_02, Representative , store_number
bln  , stamp_design
"""
-->

<form method="POST" action="{% url 'STM:join' %}">{% csrf_token %}
<div class="box">
<ul>
<li>{{ form.business_id }}</li>
<li style="margin-top:10px;">{{ form.MG_number }}</li>
<li style="margin-top:10px;">{{ form.Store_name }}</li>
<li style="margin-top:10px;">{{ form.Store_phone }}</li>
<li style="margin-top:10px;">{{ form.Store_address_01 }}</li>
<li style="margin-top:10px;">{{ form.Store_address_02 }}</li>
<li style="margin-top:10px;">{{ form.Representative }}</li>
<li style="margin-top:10px;">{{ form.store_number }}</li>
<li style="margin-top:10px;">{{ form.bln }}</li>
<li style="margin-top:10px;">{{ form.stamp_design }}</li>
</ul>
</div>
<div style="width:100%, text-align:center; margin-left:20px'">
<button type="submit" value="register_number">가입하기</button>
</div>
{% endblock %}